<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfar.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.golfar.blog.pojo.entity.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postid" column="postId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="rootcommentid" column="rootCommentId" jdbcType="BIGINT"/>
            <result property="thumbnum" column="thumbNum" jdbcType="INTEGER"/>
            <result property="tocommentid" column="toCommentId" jdbcType="INTEGER"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,content,
        rootCommentId,thumbNum,toCommentId,
        userId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
